@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-background: #ededed;
  --color-dark: #1a1f16;
  --color-tertiary: #60695c;
  --color-accent: #12805d;
  --color-danger: #e5252c;
  --color-succes: #02d693;
}

body {
  background-color: var(--color-background);
}
* {
  font-family: "Cabin", sans-serif;
}

.btn-primary {
  @apply bg-black space-x-2.5 mt-10 flex items-center rounded-[14px] py-2 px-6;
}

.custom-scrollbar::webkit-scrollbar-track {
  width: 6px;
}

.scale-hover {
  @apply hover:cursor-pointer hover:scale-110 rounded-[10px] hover:bg-tertiary/30 transition-all duration-300;
}
